@import 'config';

header {
  button {
    border-radius:.2rem;
    font-size:.8rem;
    letter-spacing:.1rem;
    text-transform:uppercase;
    padding:.62rem 1rem .5rem 1rem;
    background:$main-blue;
    background:
      linear-gradient(
        90deg,
        $main-blue 0%,
        $blue-overtone)
        var(--x, 0)/ 200%;
    transition:.3s;

    &:hover {
      --x:60%;
      transition:.3s;
    }
  }
}
