@import 'config';

footer {
  width:100vw;
  background:$black-overtone;
  padding:1.3rem 1rem .9rem 1rem;
  display:flex;
  gap:58rem;
  flex-wrap:wrap;

  &, div {
    display:flex;
    justify-content:center;
    align-items:center;
  }

  span {
    font-size:.8rem;
  }

  div {
    gap:2.5rem;

    a {
      opacity:.6;
      transition:.3s;

      &:hover {
        opacity:1;
        transition:.3s;
      }
    }

    a:nth-child(2) {
      margin-top:-.2rem;
    }

    img {
      height:2rem;
    }
  }
}