@import 'config';
@import 'keyframes';

@media (max-width:85rem) {
  header, footer {
    gap:0;
    justify-content:space-between;
  }
}

@media (max-width:68rem) {
  header {
    img {
      height:1rem;
    }

    .toggle-menu {
      cursor:pointer;
      display:grid;
      gap:.3rem;

      div {
        display:block;
        background:$main-white;
        width:1.7rem;
        height:.2rem;
      }
    }

    .toggle-menu.closed {
      div:nth-child(1), div:nth-child(3) {
        animation:hide-lines .2s linear forwards;
      }
    }

    .menu, button {
      display:none;
    }

    .menu.active {
      display:grid !important;
      background:$black-overtone;
      position:absolute;
      gap:.5rem;
      padding:.5rem 1rem;
      right:.9rem;
      top:3.6rem;
      border-radius:.2rem;
      overflow:hidden;

      li {
        opacity:.6;
        transition:.3s;

        &:hover {
          transition:.3s;
          opacity:1;
        }

        &:after {
          display:none;
        }
      }

    }
  }

  main {
    width:95vw;

    a:hover {
      transform:none;
    }
  }
}

@media (max-width:30rem) {
  main {
    img {
      width:15rem;
    }
  }

  footer {
    justify-content:center;
    gap:1rem;

    span, div {
      justify-self:center;
    }

    div {
      gap:1rem;
    }
  }
}
